.btn {
    border: 0;
    padding: 1em 1.5em;
    border-radius: .5em;
    transition: background-color 150ms, translate 150ms;
    cursor: pointer;
    background-color: #1594448a;
}

.btn:hover, .btn:focus {
    background-color: #15944477;
}

.btn:active {
    background-color: #1594446a;
    transform: translate(1px, 1px);
}